My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "path": "49950868-4797-4046-b335-840250278f74",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "bf952bdb-0641-42c8-b2c3-2d175884c9aa",
      "name": "Webhook",
      "webhookId": "49950868-4797-4046-b335-840250278f74"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\n\nconst nome = body.nome ?? \"visitante\";\n\nreturn [{ json: { mensagem: `Olá, ${nome}!`, timestamp: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "4f49223e-55b4-4659-81a8-7c70d76040a8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "f51fcf36-b408-4de3-881c-2f402953cbbc",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "19e12748-1b3f-4e89-9433-6a2fe328876e",
  "meta": {
    "instanceId": "75c2e7e46fe228b02b4e95b76f5694bd5920046ee8eacea4b7d2991600159ebb"
  },
  "id": "9QfdH1BFv9FoykVJ",
  "tags": []
}