sentimentos 05.json
{
  "name": "sentimentos 05",
  "nodes": [
    {
      "parameters": {
        "path": "sentimento",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        64,
        48
      ],
      "id": "255af9e4-cd11-4078-aee2-e66ba40e20af",
      "name": "Webhook",
      "webhookId": "762bbd5e-83dd-4bf2-80dc-f4f9150d9b31"
    },
    {
      "parameters": {
        "jsCode": "\nconst texto =\n(\n  $json.query?.texto ||\n  $json.texto ||\n  \"\"\n).toLowerCase();\n\nconst positivas = [\n  \"bom\",\n  \"ótimo\",\n  \"excelente\",\n  \"gostei\",\n  \"maravilhoso\",\n  \"rápido\",\n  \"perfeito\",\n  \"adorei\",\n  \"incrível\",\n  \"fantástico\"\n];\n\nconst negativas = [\n  \"ruim\",\n  \"péssimo\",\n  \"horrível\",\n  \"demorado\",\n  \"problema\",\n  \"reclamação\",\n  \"odiei\",\n  \"terrível\",\n  \"lento\",\n  \"horroroso\"\n];\n\nlet score = 0;\n\nfor (const palavra of positivas) {\n  if (texto.includes(palavra)) {\n    score++;\n  }\n}\n\nfor (const palavra of negativas) {\n  if (texto.includes(palavra)) {\n    score--;\n  }\n}\n\nlet sentimento;\n\nif (score > 0) {\n  sentimento = \"Positivo\";\n} else if (score < 0) {\n  sentimento = \"Negativo\";\n} else {\n  sentimento = \"Neutro\";\n}\n\nreturn [\n  {\n    json: {\n      texto,\n      score,\n      sentimento\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        48
      ],
      "id": "e0376c37-6fec-4e0f-bb3f-ad1a7a349870",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "607485b0-0dee-434c-a148-4b69863dd2b5",
              "leftValue": "={{ $json.sentimento }}",
              "rightValue": "Positivo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        48
      ],
      "id": "a21397c2-760a-4afa-934d-2d97dd59b5ed",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8930011608:AAG5c4SYSgUHduRtdSPJwB8NdikhWQoI0Rc/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "1020900625"
            },
            {
              "name": "text",
              "value": "={{ '😊 FEEDBACK POSITIVO\\n\\nTexto recebido: ' + $json.texto + '\\nScore: ' + $json.score + '\\nClassificação: ' + $json.sentimento }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        -144
      ],
      "id": "8af0960c-26f0-4994-b943-2b920c7d9612",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8930011608:AAG5c4SYSgUHduRtdSPJwB8NdikhWQoI0Rc/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "1020900625"
            },
            {
              "name": "text",
              "value": "={{ '😔 FEEDBACK NEGATIVO/NEUTRO\\n\\nTexto recebido: ' + $json.texto + '\\nScore: ' + $json.score + '\\nClassificação: ' + $json.sentimento }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        144
      ],
      "id": "3b529f2c-246e-4883-9690-87de0188cae1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ texto: $json.texto, score: $json.score, sentimento: $json.sentimento }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        912,
        -144
      ],
      "id": "a591311c-a2ae-4d90-8dec-022bed8dbdd1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ texto: $json.texto, score: $json.score, sentimento: $json.sentimento }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        960,
        144
      ],
      "id": "42728704-9ecb-4faa-8f62-9713b89575be",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d942952a-ffb0-458c-a29f-6751c0f14a13",
  "meta": {
    "instanceId": "75c2e7e46fe228b02b4e95b76f5694bd5920046ee8eacea4b7d2991600159ebb"
  },
  "id": "e4LQ4Lf8Q8bsgw3C",
  "tags": []
}